@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap');

:root {
    /*COLORES PRIMARIOS*/
    --color-text-bold: hsl(238, 29%, 16%);
    --color-text-hover: hsl(14, 88%, 65%);
    --color-gradient-up: hsl(273, 75%, 66%);
    --color-gradient-down: hsl(240, 73%, 65%);
    --color-card: white;
    /*COLORES SECUNDARIOS*/
    --color-text-faq: hsl(237, 12%, 33%);
    --color-text-info: hsl(240, 6%, 50%);
    --color-dividers: hsl(240, 5%, 91%);
    /*FUENTE*/
    --font: 'Kumbh Sans', sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    font-family: var(--font);
    min-height: 100vh;
}

body {
    background: linear-gradient(to bottom, var(--color-gradient-up), var(--color-gradient-down));
    font-size: 1.2rem;
}

.card {
    background-color: var(--color-card);
    max-width: 86%;
    max-height: max-content;
    margin: 40vw auto 5rem;
    padding: 1rem 2rem 5rem;
    border-radius: 2.5rem;
    box-shadow: 0 3rem 3rem rgba(0, 0, 0, 0.25);
}

.img-mobile-container {
    position: relative;
    width: 85%;
    margin: auto;
}

.img-desk-container {
    display: none;
}

.img-mobile-back {
    text-align: center;
    width: 100%;
}

.img-mobile-main {
    width: 100%;
    position: absolute;
    left: 0;
    right: 0;
    top: -30vw;
}

.tittle {
    color: var(--color-text-bold);
    font-weight: 700;
    font-size: 3rem;
    text-align: center;
    margin: 2rem 0 1.5rem;
}

.accordion {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    border-bottom: solid 1px var(--color-dividers);
    padding: 1.5rem 0 1rem;
}

.question {
    color: var(--color-text-faq);
    margin-bottom: 1rem;
    font-size: 1.3rem;
}

.answer {
    color: var(--color-text-info);
    line-height: 1.8rem;
    display: none;
}

.arrow {
    padding: 0.5rem 0;
}

.accordion:hover {
    cursor: pointer;
}

.accordion:hover .question {
    color: var(--color-text-hover);
}

.show-info {
    display: initial;
}

.bold-tittle {
    color: var(--color-text-bold);
    font-weight: 700;
    font-size: 1.4rem;
}

.image-rotate {
    transform: rotate(180deg);
}

/*MEDIA QUERIES*/
@media (min-width: 550px) {
    .card {
        width: 50rem;
        margin-top: 23.5rem;
    }

    .img-mobile-main {
        top: -18rem;
    }
}

@media (min-width: 1024px) {
    html {
        display: flex;
        justify-content: center;
        align-items: center;
        overflow: hidden;
    }

    .card {
        max-width: 80%;
        width: 110rem;
        margin: auto;
        padding: 0;
        display: flex;
        justify-content: space-between;
        
    }

    .img-mobile-container {
        display: none;
    }

    .img-desk-container {
        display: block;
        position: relative;
        width: 47%;
        height: inherit;
    }

    .back-img-desk-container {
        position: relative;
        width: 100%;
        height: 100%;
        overflow: hidden;
        
    }

    .img-desk-container img {
        position: absolute;
    }

    .img-desk-back {
        top: 0;
        bottom: 15rem;
        right: 2rem;
        margin: auto;
    }

    .img-desk-main {
        top: 0;
        bottom: 0;
        margin: auto;
        right: 2rem;
    }

    .img-desk-box {
        position: absolute;
        top: 9rem;
        bottom: 0;
        left: -9rem;
        margin: auto;
        transition: all 1s;
    }

    .faq-container {
        width: 47%;
        padding: 4rem 10rem 8rem 0;
        position: relative;
        z-index: 2;
    }

    .tittle {
        text-align: left;
    }

    .box-traslate {
        left: -12rem;
        transition: all 1s;
    }

}

